{
  "rules": {
    "declaration-block-properties-order": "alphabetical",
    "rule-empty-line-before": [
      "always",
      {
        "except": [
          "first-nested"
        ],
        "ignore": [
          "after-comment"
        ]
      }
    ]
  }
}
